<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
        <link rel="icon" type="image/png" th:href="@{/img/icon.png}"/>
        <title th:text="#{guide_table_row_update_admin.title}">Изменить строку в выбранном справочнике</title>
        <script language="JavaScript">
            $(document).ready(function() {
                $('#file1').val(null);
                $('#file1').on('change', function(e) {
                    $(e.target).parents('form').submit();
                });
            });
        </script>
    </head>

    <body th:with="paramNumber=${#request.getParameter('number')} ? ${#request.getParameter('number')} : ''">
        <div style="margin-left: 95%; margin-top: 1%"><a href="?lang=ru">RU</a>&nbsp;<a href="?lang=en">EN</a></div>
        <h3 th:text="#{guide_table_row_update_admin.title}">Изменить строку в выбранном справочнике</h3>

        <div class="float-right mt-3 mr-4"><a th:href="@{/guide_table_admin}" class="btn btn-primary"
                                              th:text="#{back}">Назад</a></div>

        <div class="float-right mt-3 mr-4"><a th:href="@{/admin}" class="btn btn-primary"
                                              th:text="#{to_main}">На главную</a></div>

        <br/>

        <form class="col-md-3 mt-5" th:action="@{'/guide_table_row_update_admin/__${guideId}__/__${id}__'}" method="post">
            <label th:text="#{guide_table_row_update_admin.label.pName}">Введите строку</label>
            <br/>
            <input type="text" name="pName"/>
            <input type="submit" th:value="#{btn.enter}" class="btn btn-primary"/>
        </form>

    </body>
</html>