<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
        <link rel="icon" type="image/png" th:href="@{/img/icon.png}"/>
        <title th:text="#{guide_table_admin.title}">Создание (просмотр) и редактирование табличных справочников (администратор)</title>
    </head>

    <body>
        <div style="margin-left: 95%; margin-top: 1%"><a href="?lang=ru">RU</a>&nbsp;<a href="?lang=en">EN</a></div>
        <h3 th:text="#{guide_table_admin.title}">Создание (просмотр) и редактирование табличных справочников (администратор)</h3><br>

        <div class="float-right mr-4"><a th:href="@{/admin}" class="btn btn-primary" th:text="#{to_main}">На главную</a></div><br><br>

        <div class="block1">
            <div class="flex-item">
                <p th:text="#{guide_table.link.guide_table_list}">Список табличных справочников</p>
                <div><a th:href="@{/guide_table_list_admin}" class="btn btn-primary"
                        th:text="#{proceed}">Перейти</a></div>
            </div>
            <div class="flex-item">
                <p th:text="#{guide_table.link.guide_table_selected}">Атрибуты выбранного справочника</p>
                <div><a th:href="@{/guide_table_selected_admin}" class="btn btn-primary"
                        th:text="#{proceed}">Перейти</a></div>
            </div>
            <div class="flex-item">
                <p th:text="#{guide_table.link.guide_table_selected_fields}">Поля выбранного справочника</p>
                <div><a th:href="@{/guide_table_selected_fields_admin}" class="btn btn-primary"
                        th:text="#{proceed}">Перейти</a></div>
            </div>
            <div class="flex-item">
                <p th:text="#{guide_table.link.attribute_type_list}">Список типов атрибутов</p>
                <div><a th:href="@{/attribute_type_list_admin}" class="btn btn-primary"
                        th:text="#{proceed}">Перейти</a></div>
            </div>
            <div class="flex-item">
                <p th:text="#{guide_table_admin.link.guide_table_create_complete_admin}">Создание нового справочника</p>
                <div><a th:href="@{/guide_table_create_complete_admin}" class="btn btn-primary"
                        th:text="#{proceed}">Перейти</a></div>
            </div>
        </div>
    </body>
</html>